{% include 'header.html'%}
    <body>
        <main>
            <section class="hero-section d-flex justify-content-center" id="section_1">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-12 mb-5 pb-5 pb-lg-0 mb-lg-0">

                            <h6>Introducing</h6>

                            <h1 class="text-white mb-4">Music classifier</h1>
                        </div>
                    </div>
                </div>
            </section>


            <section class="featured-section">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-8 col-12">

                                <div class="reviews-group mt-3 mt-lg-0">
                                    <strong>4.5</strong>

                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star-fill"></i>
                                    <i class="bi-star"></i>

                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section class="py-lg-5"></section>

<!-- JAVASCRIPT FILES -->
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/click-scroll.js"></script>
<script src="/static/js/custom.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery.sticky.js"></script>

</body>
</html>